<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{url('index.index')}}">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
			
				<li class="nav-item">
					<a class="nav-link" href="#">Home</a>
				</li>
				
			</ul>
			{% if app.user %}
				<div class="d-flex">
					<span class="navbar-text">{{app.user.username}}</span>
					<a href="{{path('logout')}}" class="nav-item btn btn-primary ml-3">Logout</a>
				</div>
			{% endif %}
            
		</div>
	</div>
</nav>
